/* Base */
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #faf7f2;
  color: #333;
  text-align: center;
}

section {
  padding: 40px 20px;
}

/* HERO */
.hero {
  background-color: #f1e8dc;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  letter-spacing: 2px;
}

.date {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

/* COUNTDOWN */
#timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

#timer div {
  background: #f1e8dc;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 20px;
}

/* DETAILS */
.details p {
  margin: 10px 0;
  font-size: 25px;
}

/* RSVP */
.rsvp iframe {
  margin-top: 20px;
  border-radius: 10px;
}

/* QR */
.qr img {
  width: 180px;
  margin-top: 20px;
}
.map {
  padding: 40px 20px;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 16px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

.map-note {
  font-size: 14px;
  color: #666;
}

.photo {
  flex: 1;
}

.photo-fade {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.photo-fade img {
  width: 100%;
  display: block;
}


/* Left fade */
.photo-fade::before,
.photo-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* Left 
.photo-fade::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0)
  );
}

/* Right
.photo-fade::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0)
  );
} */

.details-row {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;

  display: flex;
  align-items: center;
  gap: 40px;
}

.details-row2 {
  flex: 1;
  font-size: 20px;
}

.details {
  flex: 1;
  font-size: 30px;
}

.details h2 {
  margin-bottom: 20px;
}


/* Desktop enhancements */
@media (min-width: 768px) {
  .hero {
    padding: 140px 20px;
  }

  .hero h1 {
    font-size: 56px;
  }

  #timer div {
    font-size: 24px;
    padding: 16px 22px;
  }
}

